body {
  margin:0;
  background-color: whitesmoke;
}
.navbar {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-top: 15px;
  text-align:30px;
  font-size:30px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  background-color: whitesmoke;
  color: #333;
  margin-top: 5px;
  text-align:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow: 
    0 1px 1px rgba(0,0,0,0.15),
    0 10px p -5px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
  /*justify-content: center;*/
  
}
.todo-title {
  /*align-items: center;*/
  padding: 30px 50px 0;
  width: 100%;
  font-family: Roboto, sans-serif;
  color: #333333;
}
.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 50px 0;
  width: 70%;
  border-bottom: 1px solid #c0c0c0;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}
.footer {
  height: 30px;
  background-color: #333;
  color: whitesmoke;
  margin-top: 5px;
  text-align:30px;
  display:flex;
  justify-content: center;
  align-items: center;
}